.sidebar {
    position: absolute;
    left:0;
    width: 4rem;
    padding-left: .5rem;
    height: calc(100vh - 5rem);
}

.sidebar-link {
    text-decoration: none;
}

.sidebar-link img {
    height: 3rem;
    border: solid;
    border-color: white;
    border-radius: .5rem;
    padding: .3rem;
    
    margin: 1rem 0;
}